<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507073680966-4k6edbtnlnc0shv1knirfl436pou53e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507073680966-4k6edbtnlnc0shv1knirfl436pou53e1</string>
	<key>API_KEY</key>
	<string>AIzaSyCoFoBvhz-HwVjBav5WjpELgxAJWPZPxt4</string>
	<key>GCM_SENDER_ID</key>
	<string>507073680966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.comet-ai-com.comet-ai</string>
	<key>PROJECT_ID</key>
	<string>cometai-f0bf7</string>
	<key>STORAGE_BUCKET</key>
	<string>cometai-f0bf7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507073680966:ios:5fd26579045f0799221c47</string>
</dict>
</plist>